/* general text formatting */
h1,
h2,
h3,
nav,
footer {
   font-family: Georgia, Cambria, "Times New Roman", serif;
}

body {
   font-family: "Lucida Sans", Verdana, Arial, sans-serif;
   font-size: 80%;
}

div#searchBox,
div#listBox {
   margin: 0.25em auto;
   background-color: #EBF4FB;
   padding: 1em;
   border: 1pt solid #95BEF0;
   width: 80%;
}

div#searchBox {
   margin-top: 1em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#shopping-cart {
   display: flex;
   flex-direction: row;
   align-items: center;

}


div#listBox {
   margin-top: 1em;
   background-color: #FAFCFF;
}

table {
   border: collapse;
   border-spacing: 0;

}

table tbody td {
   border-top: 1pt solid #95BEF0;
   line-height: 1.5em;
   vertical-align: middle;
   padding: 0.5em 0.75em;
}

table thead th {
   text-align: left;
   padding: 0.25em 0.75em;
}

table thead {
   background-color: #EBF4FB;
}

table tbody td:first-child {
   text-align: center;
   padding: 0.5em 0em;
}

table tbody td:nth-child(3) {
   font-style: italic;
}

caption {
   background-color: #95BEF0;
   padding: 0.5em 0.5em;
   font-weight: bold;
   font-size: 1.2em;
   height: 30px;
}


/* new code */

.image-column {
   text-align: center;
   vertical-align: middle;
   width: 10%;
}

.image-column img {
   display: inline-block;
}

.column-title {
   text-align: left;
}

/* new code  */

.book-image {
   height: 150px;
   width: 100px;
}

#cart {
   height: 25px;
   width: 25px;
   
}

.table-row[data-searched="yes"] {
   background-color: green;
}

.table-row[data-searched="no"] {
   background-color: white;
}


input[type=button] {
   margin: 0.1em;
}